<div id="scratch-container">
  <% board_size = 12 %>

  <div id="board" class="board-<%= board_size %>">
    <% board_size.times do |y| %>
      <% board_size.times do |x| %>
        <% span_class = "#{y%2 == x%2 ? 'light' : 'dark'}" %>
        <span class="square <%= span_class %>">
          <% if Rails.env.development? %>
            <%= (y * board_size) + x %>
          <% end %>
        </span>
      <% end %>
    <% end %>
  </div>

  <div id="piece-controls">
    controls
  </div>
</div>

<div id="fen">
  FEN
</div>
