/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
    background: #888;
}

#header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #999;
    border-bottom: 1px solid black;
    box-shadow: 0 0.5rem 1rem black;
    padding: 0.5rem 1rem;
    z-index: 10;
    box-sizing: border-box;
    height: 6rem;
}

#content-container {
    margin-top: 6rem;
    padding: 1rem;
    margin-left: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#play-game {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

#flash {
    width: 60%;
    text-align: center;
}

.flash {
    padding: 1rem;
}

.text-field, .password-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.submit-field {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit-field input {
    margin: 1rem;
}

#logo img {
    max-width: 100%;
    max-height: 100%;
}

.other-links {
    font-size: 0.8rem;
}

.flash.success {
    border: 1px solid green;
    color: rgb(0, 80, 0);
    background: rgb(220, 255, 220);
}

.flash.alert {
    border: 1px solid red;
    color: rgb(120, 0, 0);
    background: rgb(255, 220, 220);
}
