#play-game {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

#board {
    display: grid;
    grid-auto-columns: 2rem;
    grid-auto-rows: 2rem;

    height: 100%;
}

#fen-tool-board {
    display: flex;
}

.board-8 {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.board-10 {
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.board-12 {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.square {
    height: 4rem;
    width: 4rem;
    display: inline-block;
}

.square.dark {
    background: #444;
}

.square.light {
    background: #eee;
}

#piece-controls {
    display: flex;
}

.piece-control {
    width: 4rem;
    height: 4rem;

    background: #bbb;
    box-shadow: inset -2px -2px #222, inset 2px 2px #eee;
    margin: 0.6rem;
    /* width: 100%; */
}

.selected-piece-control {
    background: #666;
    box-shadow: inset -2px -2px #eee, inset 2px 2px #222;
}

img.piece {
    max-width: 100%;
}

.current-teammate {
    background: rgba(200, 200, 150, 0.3);
}

.current-player {
    background: rgba(100, 200, 150, 0.4);
}

.enemy {
    background: rgba(250, 0, 0, 0.15);
}

img.selected-piece {
    background: rgba(0, 250, 100, 0.7);
}

.square.target-move.dark {
    background: rgb(100, 50, 100);
}

.square.target-move.light {
    background: rgb(150, 100, 150);
}
